{% extends 'layout/layout.html' %}

{% block content %}

{# Display Products #}

{% for product in products %}

<div class="product">
    
    <h3>{{product.category}} {{ product.brand}} {{ product.model }}</h3>
    <p>{{ product.description }}</p>
    <span>Price: ${{ product.price }}</span>
    <span>Tax: ${{ product.tax }}</span>
    <span>Discount: ${{ product.discount }}</span>
    <span>Availability: {{ product.quantity }}</span>

    {% if user.is_authenticated %}
    <form action="/checkout/{{ user.id  }}/{{ product.id }}" method="POST">
        {% csrf_token %}
        <button>Add to Cart</button>
    </form>
    {% endif %}

</div>

{% endfor %}


{# End Display Products #}

{% endblock %}

