{% extends 'base/base.html' %}

{% block content %}

    {# HERO IMG#}
    <img src="/static/hero.jpg" alt="hero" width="500px" class="rounded mx-auto d-block">

    {# DISPLAY PRODUCTS #}



    <!-- <div class="row row-cols-1 row-cols-md-3 g-4"> -->
        <div class="card-group">
        {% for product in products %}
            <div class="col">
                <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                        <h5 class="card-title">{{product.category}} {{ product.brand}} {{ product.model }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <ul class="list-group list-group-flush">
                        
                        <li class="list-group-item">Price: ${{ product.price }}</li>
                        <li class="list-group-item">Discount: {% widthratio product.discount 1 100 %}%</li>
                        <li class="list-group-item">Tax: {% widthratio product.tax 1 100 %}%</li>
                        <li class="list-group-item">Stock: {{ product.quantity }}</li>
                            </ul>
                    {% if user.is_authenticated %}
                    <div class="card-footer">
                        <form action="/checkout/{{ user.id  }}/{{ product.id }}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-primary">Add to Cart</button>
                        </form>
                        </div>
                    {% endif %}
                </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

