{% extends 'layout/layout.html' %}

{% block content %}
    <h1>CART ${{ total_amount }}</h1>
    {% if user.is_authenticated %}
        
        {% for item in cart %}
            <p>{{item.product.category.name}}</p>
            <p>{{item.product.brand}}</p>
            <p>{{item.product.model}}</p>
            <p>${{item.product.price}}</p>
            <p>Quantity: {{item.quantity}}</p>

                    
            <form action="/checkout/remove/{{ item.id }}" method="POST">
                {% csrf_token %}
                <button>Remove from Cart</button>
            </form>
        {% endfor %}            

        <form action="/user/purchase" method="POST">
            {% csrf_token %}

            {{ purchase_form }}


            <button>Complete Purchase</button>
        </form>
                

    
    {% endif %}




{% endblock %}

