{% extends 'layout/layout.html' %}

{% block content %}
    <h1>User Profile</h1>

    <div>
        <h3>First Name</h3>
        <span>{{user.first_name}}</span>
    </div>

    <div>
        <h3>Last Name</h3>
        <span>{{user.last_name}}</span>
    </div>

    <div>
        <h3>Email</h3>
        <span>{{user.email}}</span>
    </div>

    <div>
        <form action="/user/" method="POST">
            {% csrf_token %}
            {{ user_data_form }}
            <button>
                Update
            </button>
        </form>
    </div>

    <div>
        <h2>Purchase History</h2>
        {% for item in user_order %}
            
            <div>
                <h4>Purchase Date: {{ item.date }}</h4>
                <span>Address: {{ item.address }}</span>
                <span>Zip Code: {{ item.zip_code }}</span>
                <span>Province: {{ item.province }}</span>
                <span>Phone: {{ item.phone }}</span>
                <div>
                    <h5></h5>
                    {% for item_x in user_history %}
                        {% for x in item_x %}
                            {% if x.user_order == item %}
                                <span>Product: {{ x.user_order.date }}</span>
                            {% endif %}
                        {% endfor %}
                        
                    {% endfor %}
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}